<<<<<<< HEAD
/* CSS Document */
*{margin:0;padding:0;font-size:14px;}
.list_lh{ height:200px; overflow:hidden;list-style:none;}
.list_lh li{ padding:10px;height:24px; line-height:24px;}
.list_lh li.lieven{ background:#F0F2F3;}
=======
/* CSS Document */
*{margin:0;padding:0;font-size:14px;}
.list_lh{ height:200px; overflow:hidden;list-style:none;}
.list_lh li{ padding:10px;height:24px; line-height:24px;}
.list_lh li.lieven{ background:#F0F2F3;}
>>>>>>> fc210ca1b6fb23918f732a1f5f227023fe3aa1f0
