html,body{height: 100%;}
body{
	font-family:  Arial,'pingfang','SegoeUI','Droid Sans','Hiragino Sans GB' , STXihei , 'sans-serif','microsoft yahei';
	-webkit-user-select: text;
}
html, body, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu{color: #282828;}
.gray-bg{background: #f9f9f9;}
.sprite-ico{
  position: relative;
  display: inline-block;
  &:before{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    content: '';
  }
}
@mixin flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin box-flex($num){
	-webkit-box-flex: $num;
	-webkit-flex: $num;
	-ms-flex: $num;
	flex: $num;
}

@mixin border_half {
    border-width: 0px;
    border: 1px solid #ccc;
    -webkit-border-image: url("../img/apply/icon_border_half.png") 2 stretch;
}

@mixin border_top_half {
    border-width: 0;
    border-top: 1px solid #ccc;
    -webkit-border-image: url("../img/apply/icon_border_half.png") 2 stretch;
  }

@mixin border_bottom_half {
    border-width: 0;
    border-bottom: 1px solid #ccc;
    -webkit-border-image: url("../img/apply/icon_border_half.png") 2 stretch;
}

@mixin border_left_half {
    border-width: 0;
    border-left: 1px solid #ccc;
    -webkit-border-image: url("../img/apply/icon_border_half.png") 2 stretch;
}

@mixin border_right_half {
    border-width: 0;
    border-right: 1px solid #ccc;
    -webkit-border-image: url("../img/apply/icon_border_half.png") 2 stretch;
}
