.black-skin{
	background: #0d0d0d;
	.nav-list{
		background: #171717;
		li{
			span{color: #8e8e93;}
		}
	}
	.common-info-list{
		background: #171717;
		li{
			&:active{background: #202020;}
			-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
			.info-wrap{
				.title{
					color: #e5e5e5;
				}
				.sub{
					span{color: #6c6c6c;}
				}
			}
		}
	}
	.detail-content{
		p{color: #e5e5e5;}
	}
	.info-detail{
		background: #0d0d0d;
		.info-body{
			h3{color: #e5e5e5;}
			.content{color: #e5e5e5;}
			h4{color: #e5e5e5;}
		}
		.share-wrap{
			.share-title{background: #0d0d0d;}
			li{
				p{color: #999;}
			}
		}
	}
	.main-share{
		.main-body{
			background: #0d0d0d;
			.zwstock{
				color:#3074C2;
			}
			h3{color: #e5e5e5;}
			.info{
				span{color: #e5e5e5;}
				.time{color: #999;}
				.take-btn.booked{
					background: #252525;
					border-color: #252525;
					color: #8e8e93;
				}
			}
			.sub{color: #e5e5e5;}
			.content{
				color: #e5e5e5;
				p{
					color: #e5e5e5;
					*{color: #e5e5e5;}
				}
				.table-wrap{
					table{
						td{color: #e5e5e5;}
					}
				}
			}
		}
		/*.common-comment{
			.count{
				background: #0d0d0d;
				span{color: #e5e5e5;}
			}
			ul{
				background: #0d0d0d;
				li{
					-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
					.content{color: #e5e5e5;}
					.quote{
						background: #171717;
						border: 0;
						.quote-content{color: #e5e5e5;}
					}
					.show-all{
						span{border-color: #333;}
					}
				}
			}
			.show-more{
				background: #0d0d0d;
			}
			.common-loading{
				background: #0d0d0d;
				span{color: #e5e5e5;}
			}
			.comment-input{
				-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
				background: #0d0d0d;
			}
		}*/
	}
	.main-content{
		.main-body{
			border-width: 0;
    		border-bottom: 1px solid #ccc;
			-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
			.sub{background: #171717;}
			.share-wrap{
				p{
					color: #999;
					&:before {border-color: #262626;}
					&:after {border-color: #262626;}
				}
				ul{
					li{
						border-color: #333;
						span{color: #6c6c6c;}
					}
				}
			}
		}
		.person-wrap{
			background: #171717;
			border-width: 0;
    		border-top: 1px solid #ccc;
			-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
			border-bottom: 1px solid #ccc;
			.title-wrap{
				p{color: #e5e5e5;}
				.sub{color: #8e8e93;}
			}
			.read-btn{
				&.booked{
					background: #252525;
					border-color: #252525;
					color: #8e8e93;
				}
			}
		}
		.empty-wrap{background: #0d0d0d;}
	}
	.my-take-empty{
		.no-take-icon{
			.no-collect{
				background-image: url('../img/no_collect_black.png');
			}
		}
		.remind{
			color: #6c6c6c;
		}
	}
	.my-take{
		ul{
			li{
				-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
				background: #171717;
				&:active{background: #202020;}
				.title-wrap{
					p{color: #e5e5e5;}
					.sub{color: #6c6c6c;}
				}
			}
		}
		.get-more{
			background: #171717;
			-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
		}
	}
	.recommend{
		.nav-list{
			-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
			li{
				a{color: #6c6c6c;}
				&.active{
					a{color: #3074c2;}
				}
			}
		}
		.content{
			background: #0d0d0d;
			li{
				&:active{background: #202020;}
				-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
				.title-wrap{
					p{color: #e5e5e5;}
					.sub{color: #8e8e93;}
				}
				.read-btn.read{
					background: #252525;
					border-color: #252525;
					color: #8e8e93;
				}
			}
		}
		.common-no-data{
			background: #0d0d0d;
			color: #8e8e93;
		}
	}
	.topic{
		.topic-list{
			background: #171717;
			li{
				&:active{background: #202020;}
				-webkit-border-image: url(../img/icon_border_half2.png) 2 stretch;
				.title{
					p{color: #e5e5e5;}
				}
				.sub{color: #8e8e93;}
			}
		}
	}
	.common-header{
		a.readed{
			background: #252525;
    		border-color: #252525;
			color: #8e8e93;
		}
	}
	.common-loading,.my-loading {
		background: #171717;
		span{color: #e5e5e5;}
	}
}